* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: black;
  opacity: 0.9;
  transition: 0.3s;
  z-index: 9999;
}
.sidebar ul li a {
  color: white;
}
.sidebar ul li {
  padding: 24px;
  transition: 0.3s;
  transition-property: background-color;
}
.sidebar ul li:hover {
  background-color: darkgrey;
}
#check:checked ~ .sidebar {
  left: 0;
}
/* sidebar */

/* header */
header {
  height: 70px;
  background-color: darkgrey;
}
header h1 {
  display: inline-block;
  float: left;
  padding: 15px 24px;
  text-transform: uppercase;
}
header h1 a {
  color: black;
  transition: 0.3s;
}
header h1 a:hover {
  color: white;
}
header ul {
  float: right;
}
header ul li {
  padding: 24px;
  display: inline-block;
}
header ul li a {
  color: black;
  transition: 0.3s;
}
header ul li a:hover {
  color: white;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}

/* menu */
.mobile-menu {
  float: right;
  display: none;
  padding: 18px;
}
.mobile-menu:hover {
  cursor: pointer;
}
#check {
  display: none;
}
/* akhir menu */

/* akhir header */

/* banner */
.banner {
  background-color: rgb(55, 53, 53);
}
section {
  padding: 50px 50px;
}
.banner img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 3px 5px white;
  margin-bottom: 10px;
}
.banner h2,
.banner p {
  color: aliceblue;
}
.banner h2 {
  margin-bottom: 10px;
}
.banner p {
  font-size: 18px;
}

/* akhir banner */

/* about */
section h3 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
}
section h3::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 1px;
  background-color: darkgrey;
  left: calc(50% - 60px);
}
section h3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 40px;
  height: 4px;
  background-color: darkgrey;
  left: calc(50% - 20px);
}

#about p {
  text-align: center;
  font-size: medium;
  line-height: 25px;
}

/* akhir about */

/* skills */
#skills {
  color: darkgrey;
  background-color: rgb(55, 53, 53);
}
.col-4 {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  float: left;
  text-align: center;
}
.col-4 img {
  width: 100%;
}
.col-4 a:hover img {
  transform: scale(1.2);
}
.col-4 span {
  color: darkgrey;
}
/* akhir skills */

/* Contant */
#contact {
  color: rgb(55, 53, 53);
}
.col-3 {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  padding: 50px 10px;
}
.col-3 h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(55, 53, 53);
  margin-bottom: 15px;
}
/* akhir Contant */

/* footer */
footer {
  background-color: rgb(55, 53, 53);
  padding: 30px;
  text-align: center;
}
footer small {
  color: aliceblue;
}
/* akhir footer */

/*scroll*/
html {
  scroll-behavior: smooth;
}
/*akhir scroll*/

/*reponsive*/
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }
  header ul {
    display: none;
  }
  .col-4 {
    width: 50%;
  }
  .col-3 {
    width: 100%;
  }
}
